.container-fluid{
    display:flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.card{
    height:480px;
    padding-bottom:5px;
    width: 300px;
    background-color: rgb(189, 180, 168);
    
}
.card > .visuals{
    height:50%;

}
.btn{
    margin-bottom:8px;
}
@media (max-width:768px)
{
    .card{
        width:100%;
        height:auto;
    }
    .container{
        width: 100%;
    }
}